.image-matrix{
  display: block;
  height: 300px;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
}

.header{
  width:100%;
  background-color: #333333;
  font-size: 15px;
  color:white;
  text-align:center;
  padding-bottom: 15px;
  margin-top: 0;
}


.menu ul{/* margin-top =0 pour coller le menu vers l'image*/
  background-color: #333333;/*couleur gris foné*/
  margin-top: auto;
  padding: 0;
}

.menu li{/*pour mettre le menu en horizontal*/
  display: inline-block;/*mets le menu et les boutons à l'horizontal*/
  width: 10%;/*100% width,mets tout les éléments le long de la page*9 bt du menu soit 100:9=12%/
  height:20px;/*hauteur, taille du bandeau*/
  margin:0px;
  padding:0px;
  list-style-type: none;
  text-align: center;

}

.menu li a{/*suite du code mettre le menu en horizontal*/
  display: block;
  text-decoration: none;/*enleve le soulignement*/
  color:#FFFFFF;/*couleur blanc*/
}

.menu li : hover{/*changer la couleur du menu en pointant la souris ne fonctionnent pas*/
  backgroud-color:#3388BB;

}

/* bloc au milieu de la page*/
.page {
  height: 400px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 0px; /*revoir les marges interieur*/
  margin: 0px ; /*revoir les marges*/
  display: inline;
}


.page{
  font-size: 20px;
  font-family: sans-serif;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  color: white;
  height: 200px;
  background-color: #070617;
}
.footer .col {
  width: 200px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col ul { /* .col pour mettre les puces et les mettre aux milieux si enlever va à gauche*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer  ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

/*.footer .col ul li:hover {/*.col ul li pour ponter avec la souris sur le footer*/
/*  color: #ffffff;
}*/
.social{
color:#e74c3c;
display: inline;/* mettre les icones en lignes horizontal soit inline-block*/
justify-content: space-around;
font-size: 14px;
padding: 20Px;
}
footer a:hover{
  color: #e74c3c;
  }/*modification de la couleur au survolsur les icone mais ne fonctionne pas/*

/*formulaire de contact* ne foctionne pas le css/

/* Style du form - display items horizontally */
/*.text-center border border-light p-5{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}*/

/* ajouter des marges pour chaque  label */
/*.form label {
  margin: 5px 10px 5px 0;
}*/

/* Style the input fields */

/*.custom-control custom-checkbox mb-4{
  margin: 5px 10px 5px 0;
  padding :10Px;
  background-color: #fff;
  border-radius: 1px solid #ddd;
}*/
/* Style du boutton envoi*/
/*.btn btn-info btn-block{
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

/*.btn btn-info btn-block:hover {
  background-color: royalblue;
}
/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
/*@media (max-width: 500px) {
  .form input {
    margin: 10px 0;
  }*/

  /*.text-center border border-light p-5{*/
  /*  flex-direction: column;
    align-items: stretch;
  }
}*/



/*formulaire*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 500px) {
  .form-inline input {
    margin: 10px 0;
  }


    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
/*création de blocs*/
.section{
  width: 50%; /*largeur des p*/
  min-width:500px;
  border: 1px solid black;
  text-align: justify;
  padding: 12px; /*marges intérieure de 12px*/
  margin: 60px;/* 50px;mes paragraphes soient plus espacés entre eux*/
}
